<div class="border border-[#E5E7EB] relative rounded-[16px] overflow-hidden">
  <img src="<%= img %>" alt="card-img" class="w-full" />
  <div class="p-4">
    <h2 class="font-bold"><%= title %></h2>
    <p class="text-[14px] text-[#6B7280] mb-3"><%= address %></p>
    <div class="flex items-center">
      <span class="text-[14px] text-[#111928]">From&nbsp;</span>
      <span class="font-bold"><%= price %></span>
      <div
        class="flex items-center rounded-[20px] gap-1 bg-[#E6DEED] w-fit py-[6px] px-[10px] ml-3"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-gift-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07M9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0zm6 4v7.5a1.5 1.5 0 0 1-1.5 1.5H9V7zM2.5 16A1.5 1.5 0 0 1 1 14.5V7h6v9z"
          />
        </svg>
        <p class="text-[14px] font-bold"><%= gift %></p>
      </div>
      <div
        class="absolute top-[16px] right-[16px] cursor-pointer"
        id="<%= 'favorite-icon-' + id %>"
        onclick="toggleFavorite('<%= id %>')"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path
            class="heart-path"
            d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</div>
<script>
  function toggleFavorite(hotelId) {
    const favoriteIcon = document.getElementById(`favorite-icon-${hotelId}`);
    const favorites = JSON.parse(localStorage.getItem("favorites")) || [];

    const isFavorite = favorites.includes(hotelId);
    if (isFavorite) {
      // Remove from favorites
      favorites.splice(favorites.indexOf(hotelId), 1);
    } else {
      // Add to favorites
      favorites.push(hotelId);
    }

    localStorage.setItem("favorites", JSON.stringify(favorites));
    favoriteIcon
      .querySelector(".heart-path")
      .classList.toggle("fill-red-500", !isFavorite);
  }
</script>
