<div
  class="flex justify-between items-center px-[24px] py-[18px] border-b-2 border-[#E5E7EB]"
>
  <img src="img/logo.png" alt="logo" class="h-full" />
  <div class="flex items-center gap-5">
    <div class="relative inline-block text-left">
      <div>
        <button
          type="button"
          class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white text-sm font-semibold text-gray-900 shadow-sm"
          id="menu-button-1"
          aria-expanded="true"
          aria-haspopup="true"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-bell-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"
            />
          </svg>
        </button>
      </div>
      <div
        class="absolute hidden right-0 z-10 mt-2 w-[403px] origin-top-right rounded-[12px] bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="menu-button-1"
        tabindex="-1"
        id="menu-dropdown-1"
      >
        <div class="py-1" role="none">
          <div
            id="dropdownNotification"
            class="z-20 w-full bg-white divide-y divide-gray-100 rounded-lg shadow"
            aria-labelledby="dropdownNotificationButton"
          >
            <div
              class="block px-6 py-6 font-medium text-center text-gray-700 rounded-t-lg"
            >
              Notifications
            </div>
            <div class="divide-y divide-gray-100">
              <div class="p-6">
                <p class="text-[#374151] mb-4">
                  A free room is available for the dates you are interested in!
                </p>
                <div class="border border-[#E5E7EB] p-4 rounded-[4px] mb-4">
                  <h2 class="font-bold">Entire cabin in Stege</h2>
                  <p class="text-[#6B7280] text-[14px] mb-4">
                    Tueager 5A, 8200 Aarhus, Denmark
                  </p>
                  <div
                    class="border border-[#D1D5DB] rounded-[8px] bg-[#F9FAFB] flex py-[12px] px-[20px]"
                  >
                    <div class="w-1/2">
                      <p class="text-[12px] font-bold">Check-in</p>
                      <p class="text-[14px]">12-10-2023</p>
                    </div>
                    <div class="border-l-2 pl-5">
                      <p class="text-[12px] font-bold">Checkout</p>
                      <p class="text-[14px]">14-10-2023</p>
                    </div>
                  </div>
                </div>
                <p class="text-[14px] text-[#6B7280] mb-6">4 hours ago</p>
                <div class="relative flex justify-center mb-6">
                  <p class="inline relative z-10 bg-white px-2">New notification</p>
                  <div class="absolute w-full h-1 border-b-2 top-1/2 -translate-y-2/4"></div>
                </div>
                <p class="text-[#374151] mb-4">
                  A free room is available for the dates you are interested in!
                </p>
                <div class="border border-[#E5E7EB] p-4 rounded-[4px] mb-4">
                  <h2 class="font-bold">Entire cabin in Stege</h2>
                  <p class="text-[#6B7280] text-[14px] mb-4">
                    Tueager 5A, 8200 Aarhus, Denmark
                  </p>
                  <div
                    class="border border-[#D1D5DB] rounded-[8px] bg-[#F9FAFB] flex py-[12px] px-[20px]"
                  >
                    <div class="w-1/2">
                      <p class="text-[12px] font-bold">Check-in</p>
                      <p class="text-[14px]">13-10-2023</p>
                    </div>
                    <div class="border-l-2 pl-5">
                      <p class="text-[12px] font-bold">Checkout</p>
                      <p class="text-[14px]">17-10-2023</p>
                    </div>
                  </div>
                </div>
                <p class="text-[14px] text-[#6B7280]">3 hours ago</p>
                <div class="h-[300px] flex flex-col items-center justify-center">
                  <img src="img/No-not.png" alt="notification" class="mb-7">
                  <h2 class="text-[20px] font-bold mb-2">No notifications</h2>
                  <p class="text-[#6B7280]">There are currently no notifications</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="relative inline-block text-left">
      <div>
        <button
          type="button"
          class="inline-flex w-full h-[40px] w-[40px] justify-center gap-x-1.5 rounded-full bg-[#E6DEED] p-[10px] text-sm font-semibold text-gray-900 shadow-sm"
          id="menu-button-2"
          aria-expanded="true"
          aria-haspopup="true"
        >
          PH
        </button>
      </div>
      <div
        class="absolute hidden right-0 z-10 mt-2 w-56 origin-top-right rounded-[12px] bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="menu-button-2"
        tabindex="-1"
        id="menu-dropdown-2"
      >
        <div class="py-1" role="none">
          <a
            href="#"
            class="text-gray-700 block px-4 py-3 text-sm"
            role="menuitem"
            tabindex="-1"
            id="menu-item-0-1"
            >Account</a
          >
          <a
            href="#"
            class="text-gray-700 block px-4 py-3 text-sm"
            role="menuitem"
            tabindex="-1"
            id="menu-item-1-1"
            >My requests</a
          >
          <a
            href="#"
            class="text-gray-700 block px-4 py-3 text-sm"
            role="menuitem"
            tabindex="-1"
            id="menu-item-2-1"
            >Favorites</a
          >
          <a
            href="#"
            class="text-gray-700 block px-4 py-3 text-sm"
            role="menuitem"
            tabindex="-1"
            id="menu-item-2-1"
            >Share feedback</a
          >
          <form method="POST" action="#" role="none" class="mb-0">
            <button
              type="submit"
              class="text-gray-700 block w-full px-4 py-3 text-left text-sm"
              role="menuitem"
              tabindex="-1"
              id="menu-item-3-1"
            >
              Sign out
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    function toggleDropdown(buttonId, menuId) {
      const menuButton = document.getElementById(buttonId);
      const dropdownMenu = document.getElementById(menuId);

      if (!menuButton || !dropdownMenu) {
        console.error("Button or dropdown not found");
        return;
      }

      menuButton.addEventListener("click", function () {
        dropdownMenu.classList.toggle("hidden");
      });

      document.addEventListener("click", function (event) {
        const isClickInside =
          menuButton.contains(event.target) ||
          dropdownMenu.contains(event.target);

        if (!isClickInside) {
          dropdownMenu.classList.add("hidden");
        }
      });
    }

    // Toggle for the first dropdown
    toggleDropdown("menu-button-1", "menu-dropdown-1");

    // Toggle for the second dropdown
    toggleDropdown("menu-button-2", "menu-dropdown-2");
  });
</script>
