<%-include("./partials/header")-%>
    <body class="">
        <main>
            <div class="flex items-center h-screen w-full px-5">
                <div class="w-full px-2">
                    <img src="img/logo.png" alt="logo" class="absolute top-[32px] left-[32px]">
                    <div class="md:max-w-sm md:mx-auto">
                        <span class="block w-full sm:text-[32px] text-[24px] font-semibold mb-2">Forgot password?</span>
                        <p class="text-[#6B7280] sm:text-[18px] text-[16px] mb-7">No worries, we’ll send you reset instructions.</p>
                        <form class="mb-7" action="/" method="post">
                            <div class="mb-4 md:w-full">
                                <label for="email" class="block text-[14px] mb-1">Email</label>
                                <input class="w-full border bg-[#F9FAFB] rounded p-2 outline-none focus:shadow-outline"
                                    type="email" name="email" id="email" placeholder="Enter your email">
                            </div>
                            
                            <button
                                class="block w-full bg-[#664F89] text-white text-sm font-semibold px-4 py-4 rounded-[8px] mt-6">Reset password</button>
                        </form>
                        <div class="flex justify-center">
                            <a class="text-[#3D2551] underline underline-offset-1 text-center text-sm" href="/login">Back to Log in</a>
                        </div>
                    </div>
                </div>
                <%- include("./partials/cover", { img: '/img/mask-2.png' ,
                    title: 'Find out about hotel bonuses in our traveler app' ,
                    text: 'Book and receive notifications about the best deals on your favorite hotels to make your trip even more enjoyable.',
                    btn1: '100 % Reliability' , btn2: 'Effective planning'
                }) %>
            </div>
        </main>
    </body>
</html>