<%-include("./partials/header")-%>

  <body class="" onload="initMap()">
    <main class=" ">
      <%-include("./partials/navbar")-%>
        <div class="flex">
          <div class="px-6 w-[calc(59.58%)] mt-10">
            <h2 class="text-[30px] font-semibold mb-8">Hotels</h2>
            <div class="border border-[#D1D5DB] rounded-[52px] px-[28px] py-[13.5px] bg-[#F9FAFB] mb-8">
              <div class="flex relative">
                <div class="w-full max-w-[400px]">
                  <p class="text-[12px] font-bold">Where</p>
                  <div class="relative inline-block text-left">
                    <input type="text" id="autocomplete-input"
                      class="w-64 outline-none rounded text-[14px] bg-transparent" placeholder="Search destination">
                    <ul id="autocomplete-list"
                      class="absolute z-10 left-0 right-0 mt-2 bg-white border rounded-[16px] overflow-y-auto invisible desination_list">
                    </ul>
                  </div>
                </div>
                <div class="border-l-2 pl-5">
                  <p class="text-[12px] font-bold">Check-in </p>
                  <div class="relative inline-block text-left">
                    <input type="text" id="checkin-input" class="w-64 outline-none rounded text-[14px] bg-transparent"
                      placeholder="Add dates">
                  </div>
                </div>
                <div class="border-l-2 pl-5">
                  <p class="text-[12px] font-bold">Check-out </p>
                  <div class="relative inline-block text-left">
                    <input type="text" id="checkout-input" class="w-64 outline-none rounded text-[14px] bg-transparent"
                      placeholder="Add dates">
                  </div>
                </div>
                <div class="flex">
                  <div class="flex justify-center items-center h-[40px] w-[40px] rounded-full bg-[#3D2551]">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-search"
                      viewBox="0 0 16 16">
                      <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg>
                  </div>
                  <div class="flex justify-center items-center h-[40px] w-[40px] border-l-2 pl-5 ml-5 cursor-pointer"
                    id="sliders-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                      class="bi bi-sliders" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1z" />
                    </svg>
                  </div>
                </div>
              </div>
              <!-- Modal -->
              <div id="myModal" class="hidden fixed inset-0 bg-black bg-opacity-50 z-10 overflow-y-auto">
                <div class="flex justify-center items-center min-h-screen w-[722px] m-auto">
                  <div class="bg-white rounded-md w-[722px]">
                    <div class="flex justify-between items-center py-6 px-10 border-b-2">
                      <h2 class="text-[20px] text-[#111928] font-semibold">Filter by the following criteria</h2>
                      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" id="closeModal"
                        class="bi bi-x cursor-pointer" viewBox="0 0 16 16">
                        <path
                          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                      </svg>
                    </div>
                    <div class="p-10">
                      <p class="font-semibold mb-6">Hotel chain</p>
                      <div class="flex gap-12 mb-1">
                        <div class="w-1/2">
                          <div class="flex mb-5">
                            <div class="w-full flex justify-between">
                              <div class="flex gap-3">
                                <input type="checkbox" id="0" class="w-[18px] accent-[#664F89]">
                                <label for="0">Radisson Blu</label>
                              </div>
                              <p>(10)</p>
                            </div>
                          </div>
                          <div class="flex mb-5">
                            <div class="w-full flex justify-between">
                              <div class="flex gap-3">
                                <input type="checkbox" id="1" class="w-[18px] accent-[#664F89]">
                                <label for="1">Scandic Hotels</label>
                              </div>
                              <p>(45)</p>
                            </div>
                          </div>
                          <div class="flex mb-5">
                            <div class="w-full flex justify-between">
                              <div class="flex gap-3">
                                <input type="checkbox" id="2" class="w-[18px] accent-[#664F89]">
                                <label for="2">First Hotels</label>
                              </div>
                              <p>(11)</p>
                            </div>
                          </div>
                          <div class="flex mb-5">
                            <div class="w-full flex justify-between">
                              <div class="flex gap-3">
                                <input type="checkbox" id="3" class="w-[18px] accent-[#664F89]">
                                <label for="3">Cabinn Hotels</label>
                              </div>
                              <p>(35)</p>
                            </div>
                          </div>
                        </div>
                        <div class="w-1/2">
                          <div class="flex mb-5">
                            <div class="w-full flex justify-between">
                              <div class="flex gap-3">
                                <input type="checkbox" id="4" class="w-[18px] accent-[#664F89]">
                                <label for="4">Zleep Hotels</label>
                              </div>
                              <p>(10)</p>
                            </div>
                          </div>
                          <div class="flex mb-5">
                            <div class="w-full flex justify-between">
                              <div class="flex gap-3">
                                <input type="checkbox" id="5" class="w-[18px] accent-[#664F89]">
                                <label for="5">Comwell Hotels</label>
                              </div>
                              <p>(45)</p>
                            </div>
                          </div>
                          <div class="flex mb-5">
                            <div class="w-full flex justify-between">
                              <div class="flex gap-3">
                                <input type="checkbox" id="6" class="w-[18px] accent-[#664F89]">
                                <label for="6">Wakeup Copenhagen</label>
                              </div>
                              <p>(11)</p>
                            </div>
                          </div>
                          <div class="flex mb-5">
                            <div class="w-full flex justify-between">
                              <div class="flex gap-3">
                                <input type="checkbox" id="7" class="w-[18px] accent-[#664F89]">
                                <label for="7">Best Western</label>
                              </div>
                              <p>(35)</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <p class="underline text-[#3D2551] font-semibold mb-6">Show more</p>
                      <div class="border-b-2 mb-6"></div>
                      <p class="font-semibold mb-8">Points per night</p>
                      <div x-data="range()" x-init="mintrigger(); maxtrigger()" class="relative w-full">
                        <div>
                          <input type="range" step="100" x-bind:min="min" x-bind:max="max" x-on:input="mintrigger"
                            x-model="minprice"
                            class="absolute pointer-events-none appearance-none z-20 h-2 w-full opacity-0 cursor-pointer">
                          <input type="range" step="100" x-bind:min="min" x-bind:max="max" x-on:input="maxtrigger"
                            x-model="maxprice"
                            class="absolute pointer-events-none appearance-none z-20 h-2 w-full opacity-0 cursor-pointer">
                          <div class="relative z-10 h-[2px]">
                            <div class="absolute z-10 left-0 right-0 bottom-0 top-0 rounded-md bg-gray-200"></div>
                            <div class="absolute z-20 top-0 bottom-0 rounded-md bg-[#664F89]"
                              x-bind:style="'right:'+maxthumb+'%; left:'+minthumb+'%'"></div>
                            <div class="absolute z-30 w-[18px] h-[18px] top-0 left-0 bg-[#664F89] rounded-full -mt-2"
                              x-bind:style="'left: '+minthumb+'%'"></div>
                            <div class="absolute z-30 w-[18px] h-[18px] top-0 right-0 bg-[#664F89] rounded-full -mt-2"
                              x-bind:style="'right: '+maxthumb+'%'"></div>
                          </div>
                        </div>
                        <div class="flex items-center justify-between pt-6 space-x-5 text-sm text-gray-700 mb-6">
                          <div class="w-full">
                            <p class="font-semibold mb-2">Minimum</p>
                            <input type="text" maxlength="5" x-on:input.debounce="mintrigger" x-model="minprice"
                              wire:model.debounce.300="minPrice"
                              class="w-full px-3 py-2 text-center border border-gray-200 rounded-lg bg-gray-50 focus:border-yellow-400 focus:outline-none">
                          </div>
                          <div class="w-full">
                            <p class="font-semibold mb-2">Maximum</p>
                            <input type="text" maxlength="5" x-on:input.debounce.300="maxtrigger" x-model="maxprice"
                              wire:model.debounce="maxPrice"
                              class="w-full px-3 py-2 text-center border border-gray-200 rounded-lg bg-gray-50 focus:border-yellow-400 focus:outline-none">
                          </div>
                        </div>
                      </div>
                      <div class="border-b-2 mb-6"></div>
                      <p class="font-semibold mb-8">Points per night</p>
                      <div x-data="range()" x-init="mintrigger(); maxtrigger()" class="relative w-full">
                        <div>
                          <input type="range" step="100" x-bind:min="min" x-bind:max="max" x-on:input="mintrigger"
                            x-model="minprice"
                            class="absolute pointer-events-none appearance-none z-20 h-2 w-full opacity-0 cursor-pointer">
                          <input type="range" step="100" x-bind:min="min" x-bind:max="max" x-on:input="maxtrigger"
                            x-model="maxprice"
                            class="absolute pointer-events-none appearance-none z-20 h-2 w-full opacity-0 cursor-pointer">
                          <div class="relative z-10 h-[2px]">
                            <div class="absolute z-10 left-0 right-0 bottom-0 top-0 rounded-md bg-gray-200"></div>
                            <div class="absolute z-20 top-0 bottom-0 rounded-md bg-[#664F89]"
                              x-bind:style="'right:'+maxthumb+'%; left:'+minthumb+'%'"></div>
                            <div class="absolute z-30 w-[18px] h-[18px] top-0 left-0 bg-[#664F89] rounded-full -mt-2"
                              x-bind:style="'left: '+minthumb+'%'"></div>
                            <div class="absolute z-30 w-[18px] h-[18px] top-0 right-0 bg-[#664F89] rounded-full -mt-2"
                              x-bind:style="'right: '+maxthumb+'%'"></div>
                          </div>
                        </div>
                        <div class="flex items-center justify-between pt-6 space-x-5 text-sm text-gray-700">
                          <div class="w-full">
                            <p class="font-semibold mb-2">Minimum</p>
                            <input type="text" maxlength="5" x-on:input.debounce="mintrigger" x-model="minprice"
                              wire:model.debounce.300="minPrice"
                              class="w-full px-3 py-2 text-center border border-gray-200 rounded-lg bg-gray-50 focus:border-yellow-400 focus:outline-none">
                          </div>
                          <div class="w-full">
                            <p class="font-semibold mb-2">Maximum</p>
                            <input type="text" maxlength="5" x-on:input.debounce.300="maxtrigger" x-model="maxprice"
                              wire:model.debounce="maxPrice"
                              class="w-full px-3 py-2 text-center border border-gray-200 rounded-lg bg-gray-50 focus:border-yellow-400 focus:outline-none">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="border-t-2 px-10 py-6 flex justify-between">
                      <button class="block bg-[#664F89] text-white text-sm font-semibold px-4 py-3 rounded-[8px]">Show 100+ locations</button>
                      <button class="block bg-[#E6DEED] text-[#3D2551] text-sm font-semibold px-10 py-3 rounded-[8px]">Clear all</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <% if (hotelsData && hotelsData.length> 0) { %>
              <div class="grid xl:grid-cols-3 md:grid-cols-2 gap-6">
                <% hotelsData.forEach(hotel=> { %>
                  <%- include("./partials/hotelcard", hotel) %>
                    <% }) %>
              </div>
              <% } else { %>
                <div class="h-[450px] flex flex-col items-center justify-center w-full">
                  <img src="img/Group.png" alt="group" class="h-full w-[82px] h-[82px] mb-9">
                  <h2 class="text-[20px] font-semibold mb-2">No results</h2>
                  <p class="text-[#6B7280]">Try changing your search query</p>
                </div>
                <% } %>

          </div>
          <div class="w-[40.41%] flex-shrink-0">
            <div id="map" class="w-full h-screen"></div>
          </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.3/dist/flatpickr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/rangePlugin.min.js"></script>
    <script>
      const input = document.getElementById('autocomplete-input');
      const list = document.getElementById('autocomplete-list');

      const countries = [
        'Denmark', 'Copenhagen', 'Odense', 'Esbjerg'
      ];

      input.addEventListener('click', function () {
        updateSuggestions();
      });

      input.addEventListener('input', function () {
        updateSuggestions();
      });

      document.addEventListener('click', function (event) {
        if (!input.contains(event.target) && !list.contains(event.target)) {
          list.classList.add('invisible');
        }
      });

      function updateSuggestions() {
        const query = input.value.toLowerCase();
        const filteredCountries = countries.filter(country => country.toLowerCase().includes(query));

        list.innerHTML = '';

        filteredCountries.forEach(country => {
          const listItem = document.createElement('li');
          listItem.textContent = country;
          listItem.className = 'px-[28px] py-3 cursor-pointer hover:bg-gray-200 text-[14px]';
          listItem.addEventListener('click', function () {
            input.value = country;
            list.classList.add('invisible');
          });
          list.appendChild(listItem);
        });

        list.classList.toggle('invisible', filteredCountries.length === 0);
      }


      document.addEventListener("DOMContentLoaded", function () {
        const checkinInput = document.getElementById('checkin-input');
        const checkoutInput = document.getElementById('checkout-input');

        flatpickr(checkinInput, {
          dateFormat: 'Y-m-d',
          minDate: 'today',
          showMonths: 2,
          plugins: [new rangePlugin({ input: checkoutInput })],
        });

        flatpickr(checkoutInput, {
          dateFormat: 'Y-m-d',
          minDate: 'today',
          showMonths: 2,
          plugins: [new rangePlugin({ input: checkinInput })],
        });
      });

      function initMap() {
        // Set the coordinates for your map center
        const myLatLng = { lat: -34.397, lng: 150.644 };

        // Create a new map instance
        const map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 8, // Adjust the zoom level
        });

        // Add a marker to the map
        const marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Your Marker Title',
        });
      }

      document.addEventListener("DOMContentLoaded", function () {
        const slidersIcon = document.querySelector("#sliders-icon");
        const modal = document.getElementById("myModal");
        const closeModalButton = document.getElementById("closeModal");

        slidersIcon.addEventListener("click", function () {
          if (modal) {
            modal.classList.toggle("hidden");
            document.body.classList.add("overflow-hidden")
          }
        });

        closeModalButton.addEventListener("click", function () {
          if (modal) {
            modal.classList.add("hidden");
            document.body.classList.remove("overflow-hidden")
            document.body.classList.add("overflow-auto")
          }
        });

        document.addEventListener("click", function (event) {
          if (event.target === modal) {
            modal.classList.add("hidden");
            document.body.classList.remove("overflow-hidden")
            document.body.classList.add("overflow-auto")
          }
        });
      });

      function range() {
        return {
          minprice: 100,
          maxprice: 500,
          min: 0,
          max: 1000,
          minthumb: 0,
          maxthumb: 0,

          mintrigger() {
            // Ensure minprice is at least 50 less than maxprice
            this.minprice = Math.min(this.minprice, this.maxprice - 50);
            // Ensure minprice is at least min
            this.minprice = Math.max(this.minprice, this.min);

            // Calculate minthumb position
            this.minthumb = ((this.minprice - this.min) / (this.max - this.min)) * 100;
          },

          maxtrigger() {
            // Ensure maxprice is at least 50 more than minprice
            this.maxprice = Math.max(this.maxprice, this.minprice + 50);
            // Ensure maxprice is at most max
            this.maxprice = Math.min(this.maxprice, this.max);

            // Calculate maxthumb position
            this.maxthumb = 100 - (((this.maxprice - this.min) / (this.max - this.min)) * 100);
          },
        };
      }


    </script>
  </body>

  </html>