<%-include("./partials/header")-%>
    <body class="">
        <main>
            <div class="flex items-center h-screen w-full px-5">
                <div class="w-full px-2">
                    <img src="img/logo.png" alt="logo" class="absolute top-[32px] left-[32px]">
                    <div class="md:max-w-sm md:mx-auto">
                        <span class="block w-full sm:text-[32px] text-[24px] font-semibold mb-2">Log in</span>
                        <p class="text-[#6B7280] sm:text-[18px] text-[16px] mb-7">Welcome back! Please enter your details.</p>
                        <form class="mb-7" action="/" method="post">
                            <div class="mb-4 md:w-full">
                                <label for="email" class="block text-[14px] mb-1">Email</label>
                                <input class="w-full border bg-[#F9FAFB] rounded p-2 outline-none focus:shadow-outline"
                                    type="email" name="email" id="email" placeholder="Enter your email">
                            </div>
                            <div class="mb-4 md:w-full">
                                <label for="password" class="block text-[14px] mb-1">Password</label>
                                <div class="relative">
                                <input class="w-full border bg-[#F9FAFB] rounded p-2 outline-none focus:shadow-outline"
                                    type="password" name="password" id="password" placeholder="Enter your password">
                                <div id="togglePassword"
                                    class="absolute inset-y-0 right-0 flex items-center pr-3 cursor-pointer"
                                    onclick="togglePasswordVisibility()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-eye-slash" viewBox="0 0 16 16">
                                        <path
                                            d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486z" />
                                        <path
                                            d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829" />
                                        <path
                                            d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708" />
                                    </svg>
                                </div>
                            </div>
                            </div>
                            <a class="text-[#3D2551] underline underline-offset-1 text-center text-sm" href="/login">Forgot password?</a>
                            <button
                                class="block w-full bg-[#664F89] text-white text-sm font-semibold px-4 py-4 rounded-[8px] mt-6">Log
                                in</button>
                        </form>
                        <div class="flex justify-center gap-1">
                            <span class="text-[#6B7280] text-[14px]">Don’t have an account?</span>
                            <span class="text-[14px] text-[#664F89] underline underline-offset-1">Sign up</span>
                        </div>
                    </div>
                </div>
                <%- include("./partials/cover", { img: '/img/mask.png' ,
                    title: 'Find out about hotel bonuses in our traveler app' ,
                    text: 'Book and receive notifications about the best deals on your favorite hotels to make your trip even more enjoyable.',
                    btn1: '100 % Reliability' , btn2: 'Effective planning'
                }) %>
            </div>
        </main>
        <script>
            function togglePasswordVisibility() {
                const passwordInput = document.getElementById('password');
                const toggleIcon = document.getElementById('togglePassword');
        
                if (passwordInput.type === 'password') {
                    passwordInput.type = 'text';
                    toggleIcon.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16"><path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/><path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/></svg>';
                } else {
                    passwordInput.type = 'password';
                    toggleIcon.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16"><path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486z" /><path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829" /><path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708" /></svg>';
                }
            }
        </script>
        
    </body>
</html>