<%-include("./partials/header")-%>
    <body class="">
        <main>
            <div class="flex items-center h-screen w-full px-5">
                <div class="w-full px-2">
                    <img src="img/logo.png" alt="logo" class="absolute top-[32px] left-[32px]">
                    <div class="md:max-w-sm md:mx-auto">
                        <span class="block w-full sm:text-[32px] text-[24px] font-semibold mb-2">Password reset</span>
                        <p class="text-[#6B7280] sm:text-[18px] text-[16px] mb-7">Your password has been successfully reset. Click below to log in.</p>
                        <form class="mb-7" action="/" method="post">
                            <button
                                class="block w-full bg-[#664F89] text-white text-sm font-semibold px-4 py-4 rounded-[8px] mt-6">Back to Log in</button>
                        </form>
                    </div>
                </div>
                <%- include("./partials/cover", { img: '/img/mask-2.png' ,
                    title: 'Find out about hotel bonuses in our traveler app' ,
                    text: 'Book and receive notifications about the best deals on your favorite hotels to make your trip even more enjoyable.',
                    btn1: '100 % Reliability' , btn2: 'Effective planning'
                }) %>
            </div>
        </main>
    </body>
</html>