<%-include("./partials/header")-%>

    <body>
        <main>
            <%-include("./partials/navbar")-%>
                <div class="max-w-[1160px] m-auto px-4">
                    <div>
                        <h2 class="text-[26px] font-bold mb-2">Wakeup Copenhagen</h2>
                        <div class="flex justify-between items-center">
                            <p class="text-[#6B7280]">Tueager 5A, 8200 Aarhus, Denmark</p>
                            <div class="border p-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path class="heart-path"
                                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                </path>
                            </svg>
                        </div>
                        </div>
                    </div>
                </div>
        </main>
    </body>

    </html>