@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: manrope;
}

input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 24px;
	height: 24px;
	-webkit-appearance: none;
  
/* @apply w-6 h-6 appearance-none pointer-events-auto; */
}

.flatpickr-day.selected {
    background-color: #664F89 !important;
    border-radius: 50% !important;
    border-color: #664F89 !important;
}

.flatpickr-day.inRange {
    background-color: #E6DEED !important;
    box-shadow: none !important;
}

.flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+1) .flatpickr-day.inRange:nth-child(7n+7) {
    box-shadow: none !important;
}
.flatpickr-day.selected::before, .flatpickr-day.startRange::before, .flatpickr-day.endRange::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #E6DEED !important;
    box-shadow: none !important;
    z-index: -1;
}
.flatpickr-day.startRange,.flatpickr-day.endRange {
    background-color: #664F89 !important;
    border-radius: 50% !important;
}
.flatpickr-day.selected.startRange::before, .flatpickr-day.startRange::before {
    border-radius: 50px 0 0 50px;
}
.flatpickr-day.selected.endRange::before, .flatpickr-day.endRange::before {
    border-radius: 0 50px 50px 0;
}
.dayContainer {
    width: 325px;
    min-width: 301px;
    max-width: 301px;
    justify-content: start;
}
.dayContainer .flatpickr-day {
    height: 43px;
    width: 43px;
    max-width: 43px;
    line-height: 43px;
    flex-basis: auto;
    border: 0;
    margin-top: 0; 
}
.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
    box-shadow: none !important;
}
.flatpickr-current-month span.cur-month, .flatpickr-current-month input.cur-year {
    font-weight: 600;
}
.desination_list {
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.09);
}
.flatpickr-months .flatpickr-month {
    display: flex;
    align-items: center;
    height: 68px !important;
}
.flatpickr-current-month {
    padding: 0;
    height: auto !important;
}
.flatpickr-months .flatpickr-prev-month.flatpickr-next-month, .flatpickr-months .flatpickr-next-month.flatpickr-next-month, .flatpickr-months .flatpickr-prev-month.flatpickr-prev-month, .flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
    padding: 27px !important;
}
span.flatpickr-weekday {
    color: #111928 !important;
}
.flatpickr-calendar.open {
    border-radius: 16px !important;
    width: 656px !important;
}
.flatpickr-innerContainer {
    padding: 0 24px 24px;
}